body {
    background: #000000;
}

#gif {
    padding-top: 5%;
    padding-left: 38.5%;

}

#logo_pf  {
   padding-top:  5%;
   padding-left: 40%;
}

#logo_stefanini  {
   
   padding-left: 80%;
   padding-top: 5%;



}